@font-face {
  font-family: 'Prompt';
  src: url('./font/Prompt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('./font/Prompt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('./font/Prompt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('./font/Prompt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
